@import "tailwindcss";

@theme {
	--animate-wiggle: wiggle 1.5s linear infinite;
	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-5deg);
		}
		50% {
			transform: rotate(5deg);
		}
	}

	--animate-shadow-pulse: shadow-pulse 1.5s ease-out infinite;
	@keyframes shadow-pulse {
		0% {
			box-shadow: 0 0 0 0 rgba(83, 234, 253, 0.7),
				0 0 0 0 rgba(83, 234, 253, 0.7);
		}
		40% {
			box-shadow: 0 0 0 30px rgba(83, 234, 253, 0),
				0 0 0 0 rgba(83, 234, 253, 0.7);
		}
		80% {
			box-shadow: 0 0 0 30px rgba(83, 234, 253, 0),
				0 0 0 20px rgba(83, 234, 253, 0);
		}
		100% {
			box-shadow: 0 0 0 0 rgba(255, 109, 74, 0),
				0 0 0 20px rgba(83, 234, 253, 0);
		}
	}
}

body {
	font-family: "Raleway", sans-serif;
	background-color: black;
}

@utility centered-container {
	@apply container mx-auto px-3;
}

@utility my-transition {
	@apply transition-all duration-500;
}

@utility primary-bg-color {
	@apply bg-cyan-300;
}

@utility primary-color {
	@apply text-cyan-300;
}

@utility flex-between {
	@apply flex justify-between items-center;
}

@utility centered-background {
	@apply bg-center bg-cover;
}

@utility grid-container {
	@apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4;
}

@utility column-flex {
	@apply flex flex-col justify-center;
}
